* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        font-family: Helvetica, Georgia, "Times New Roman";
        font-size: 16px;
    }

    .nav-container {
        width: 100%;
        margin: auto;
        background-color: #3099FB;
    }
    
    .nav-container #main-nav {
        width: 100%;
        margin: auto;
        padding: 10px 15px;
    }
    
    #main-nav .main-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    
    #main-nav .main-nav-container .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #main-nav .main-nav-container .logo img {
        margin-right: 10px;
        border-radius: 50%;
    }
    
    #main-nav .main-nav-container .logo span {
        font-size: 16px;
        font-weight: bold;
        display: block;
        color: #ffffff;
    }
    
    /* PENETRATION TESTING SECTION */
    
    #main-nav .main-nav-container #nav-links {
        width: 30%;
    }
    
    #main-nav .main-nav-container #nav-links .nav-links-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #main-nav .main-nav-container #nav-links a {
        display: block;
        text-decoration: none;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }
    
    #main-nav .main-nav-container #nav-links a:hover {
        cursor: pointer;
        font-weight: 700;
    }
    
    #main-nav .main-nav-container #nav-links a#logout {
        border: none;
        outline: none;
        padding: 10px 15px;
        border-radius: 5px;
        display: block;
        background-color: #000000;
        color: #ffffff;
        font-size: 11.5px;
    }
    
    #main-nav .main-nav-container #nav-links a#logout:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #000000;
    }
    
    .about-us-container {
        width: 100%;
        margin: 150px auto 0 auto;
    }

    .about-us-container h1 {
        font-size: 18px;
    }

    #main-section {
        width: 100%;
        margin: auto;
    }